.contact {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 70px;
  width: 600px;
  margin: auto;
  border-radius: 10px;
  letter-spacing: 0px;
}

.formulario-contacto {
  padding: 3rem;
  
}
