.video_container {
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  text-align: center;
  justify-content: space-around;
  width: 95%;
  

  & .video {
    width: 500px;
    min-width: 300px;

    & iframe {
      text-align: center;
      width: 100%;
      aspect-ratio: 2/1.5;
    }
  }
}
